/*como se ve cada componente del proyecto*/
@use "variables" as *;
@use "mixins" as *;

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: $fondo-header;
  backdrop-filter: blur(12px);

  border-bottom: $border-header;
}
/* NAVBAR */
.navbar {
  padding: 15px 0;
  margin-bottom: 0;

  .navbar-brand {
    margin-right: 40px;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-nav {
    gap: 20px;
  }

  .nav-link {
    color: $blanco !important;
    font-weight: 600;
    @include transicion;

    &:hover,
    &.active {
      color: $rosa !important;
    }
  }
}

/* SECTIONS */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  margin-bottom: 40px;
  animation: aparecer 0.8s ease;
  background: $fondo-card;
  border-radius: 25px;

  @include sombra;
  @include transicion;
}

.section-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.section:hover {
  transform: translateY(-5px);
  background: $fondo-hover;
}


/* ARTICLE */

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex: 1;
}


/* IMÁGENES */

.figure {
  flex: 1 1 40%;
  text-align: center;
}

.figure img {
  width: 100%;
  max-width: 150px;
  height: auto;

  display: block;
  margin: auto;

  border-radius: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  animation: aparecer 1s ease;
  border-radius: 20px;
  object-fit: cover;
}


/* LOGO  */

.logo {
  width: 105px;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
}

/* BOTONES */

%boton-base {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.button {
  @extend %boton-base;
  color: $blanco;
  background: linear-gradient(90deg, $rosa, $naranja);
  @include transicion(transform, 0.3s);
  &:hover {
    transform: translateY(-3px);
  }
}



/* VIDEO */

.video {
  width: 100%;
  max-width: 900px;

  border-radius: 20px;

  display: block;
  margin: auto;
}


/* CARRUSEL */

.carousel {
  width: 100%;
  max-width: 900px;
  margin: auto;

  img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 20px;
  }
  .button {
    display: block;
    width: fit-content;
    max-width: 90%;
    margin: 20px auto 0;
    text-align: center;
    white-space: normal;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }
}


/*  PROJECT CARDS */

.project-card {
  padding: 20px;
  background: linear-gradient(
    135deg,
    $fondo-card,
    $fondo-hover
  );
  border-radius: 20px;
  @include sombra(0 15px 35px rgba(0, 0, 0, .5));
  @include transicion(transform, 0.3s);

  .project-card:hover {
    transform: translateY(-5px);
  }
}

.project-card-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 25px;

  background: linear-gradient(
    135deg,
    $fondo-card,
    $fondo-hover
  );

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;

  @include sombra(0 15px 35px rgba(0, 0, 0, 0.5));
  @include transicion(transform, 0.3s);

  .button {
    align-self: flex-start;
    margin-top: auto;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
/* ANIMATION */

  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* FOOTER */

.footer {
  padding: 30px 8%;
  margin-top: 40px;

  text-align: center;

  background: $negro;
}

.footer p {
  margin: 0;
  color: $gris;
}


/*  SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $rosa;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $negro;
}


/* RESPONSIVE */

/* TABLET */
@media (min-width: 768px) {
  
  .profile-img {
    width: 200px;
    height: 200px;
  }

  .section {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }


  .article {
    flex: 1 1 60%;
  }

  .figure {
    flex: 1 1 40%;
  }

  .carousel {

    img {
      height: 400px;
    }

    .button {
      margin-top: 25px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 12%;
    }
  }
}


@media (min-width: 1024px) {

  .section {
    gap: 60px;
    padding: 50px;
  }

  .carousel {
     img {
    height: 450px;
    }
  }
}