/*estructura*/
main {
  padding: 20px 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

/* TABLET */
@media (min-width: 768px) {

  .projects-grid {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

}

/* DESKTOP */
@media (min-width: 1024px) {

  .projects-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

}