$fondo:radial-gradient (
       circle at top left, 
       #ff4fa31f, transparent 50%
       ),
       radial-gradient (
       circle at bottom right, 
       #7d4dff20, 
       transparent 50%
       ),
      #0f0f12;
$blanco: #f4f4f4;
$gris: #c8c8c8;
$rosa: #ff4fa3;
$naranja: #ff9b42;
$fondo-card: #0f0f12;
$fondo-hover: #242430;
$negro: #080808;